<div id="map" class="mx-0 px-0"></div>
<section class="my-3">
{{#each routes}}
<div class="container-fluid">
  <div class="layout-buttons">
    <button id="{{this._id}}" class="btn buttonred">{{this.name}}</button>
  </div>
</div>
{{/each}}
{{#each routes}}
<div class="toggler">
  <div id="{{this.id}}1" class="ui-widget-content ui-corner-all effect container my-3">
      <h3 class="text-center">Route: {{this.name}}</h3>
      <div class="row">
        <div class="col-md-6 d-flex flex-column justify-content-center align-items-center">
          <h3>Description:</h3>
          <p>{{this.description}}</p>
        </div>
        <div class="col-md-6 d-flex flex-column justify-content-center align-items-center">
          <h4>Estimated time:</h4>
          <p>{{this.duration}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
{{/each}}
</section>

<script>
  window.routes = {{{routesStr}}}
</script>
<script src="/javascripts/popover.js"></script>
<script src="/javascripts/addMap.js"></script>
<script src="/javascripts/geolocalize.js"></script>
<script src="/javascripts/renderRoute.js"></script>