
<a href="/" class="btn btn-outline-primary">Home</a>
<h1>Visit Madrid:</h1>
{{#each routes}}
  <button id="{{this._id}}">{{this.name}}</button>
{{/each}}

<div style="descriptionbox">
  {{#each place}}
  <img src="{{this.photo}}" alt="">
  <p>Lugar:</p>{{this.name}}
  <p>Descripción:</p> {{this.description}}
  <p>Duración recomendada para la visita:</p>{{this.duration}}
  {{/each}}
</div>

<div id="map"></div>
<script>
  window.routes = {{{routesStr}}}
</script>
<script src="/javascripts/addMap.js"></script>
<script src="/javascripts/geolocalize.js"></script>
<script src="/javascripts/renderRoute.js"></script>